@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    /*Colors*/
    --primary-color: #1d4ed8;
    --secondary-color: #3b82f6;
    --tertiary-color: #eff6ff;
    --light-color: #bfdbfe;
    --dark-color: #1e3a8a;

    --font-one: 'Poppins';
    --font-two: 'Oswald';
    
    /* Dark mode
        #606875
        #111827
        #253140
        #3E4A59
        #F2F2F2 */

    /* Color line */
    --colorLine: rgb(180, 180, 180);
}
.right-page{
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-page .h2{
    justify-content: center;
    font-family: 'Oswald';
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    color: white;
    display: flex;
    margin-top: 2%;
}

.formFron{
    margin: 2% 0px;
    border: 1px solid var(--colorLine);
    border-radius: 2px;
    background-color: rgba(245, 245, 245, 0.9);
    display: flex;
    width: 97%;
}

.formFron form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.formFron form textarea:focus, .formFron form input:focus .formFron form select:focus{
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}

.formFron form .form-inputs{
    display: flex;
    flex-direction: column;
}

.formFron form .form-inputs .div-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
    width: 100%;
}

.formFron form .form-inputs .div-form .inputs-primary{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 25px;
}

.formFron form .form-inputs .div-form .text-input{
    width: 95%;
}

.formFron form .form-inputs .div-form .text-input textarea{
    width: 100%;
    font-family: var(--font-one);
    padding: 1%;
}

.formFron form .form-inputs .div-form .inputs-primary label{
    font-family: var(--font-one);
}

.formFron form .form-inputs .div-form .inputs-primary .div-inputs{
    display: flex;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.formFron form .form-inputs .div-form .inputs-primary .div-inputs .inputs-seg span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px 12px;
    background-color: rgba(128, 128, 128, 0.5);
}

.formFron form .form-inputs .div-form .inputs-primary .div-inputs input,
.formFron form .form-inputs .div-form .inputs-primary .div-inputs select{
    display: inline-block;
    font-family: var(--font-one);
    height: 40px;
    padding: 0px 10px;
    width: 100%;
}

.formFron form .form-inputs .div-form .inputs-primary .div-inputs input[type="file"]{
    display: none;
}

.formFron form .form-inputs .div-form .inputs-primary .div-inputs #files{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: center;
    padding-top: 2.2%;
}

.formFron form .form-inputs .div-form #preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 25px;
}

.formFron form .form-inputs .div-form #preview table{
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 10px 0;
    border: 1px solid #fff;
}

.formFron form .form-inputs .div-form #preview table tr:nth-child(even){
    background-color: rgba(180, 180, 180, 0.5);
}

.formFron form .form-inputs .div-form #preview table tr td{
    padding: 2px 5px;
}

.formFron form .form-inputs .div-form #preview table tr td a{
    font-family: var(--font-one);
    font-size: 1.1em;
    cursor: pointer;
}
.formFron form .form-inputs .div-form #preview table tr td a:hover{
    color: #3b82f6;
    text-decoration: underline;
}

.formFron form .form-inputs .div-form #preview #click{
    font-family: var(--font-one);
    cursor: pointer;
    width: 100%;
}

.formFron form .form-inputs .div-form #preview #click:hover{
    color: #3b82f6;
    text-decoration: underline;
}

.required-icon{
    color: #b10000;
}

.box-alert{
    background-color: #1f293752;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}
.box-alert .alert{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.box-alert .alert ion-icon{
    margin-top: 10px;
    color: red;
    font-size: 64px;
}
.box-alert .alert h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
.box-alert .alert p{
    list-style: armenian;
    margin: 10px 40px;
}
.box-alert .alert button{
    background-color: var(--dark-color);
    color: var(--tertiary-color);
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    border: none;
    height: 40px;
    width: 80px;
}

@media(max-width: 800px){
    .right-page{
        width: 100vw;
        height: 100vh;
        padding-top: 75px;
    }
    .formFron{
        width: 98vw;
        height: 98vh;
    }
    .formFron form .form-inputs .div-form{
        flex-direction: column;
    }
    .formFron form .form-inputs .div-form .inputs-primary{
        flex-direction: column;
        display: flex;
        flex-direction: column;
        width: 88%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .formFron form .form-inputs .div-form #preview{
        margin: 0;
    }
}