@import url('https://fonts.googleapis.com/css2? family= Comfortaa:wght@300;400;500;600;700 & family= Jost:ital,wght@0,100;0,200;0,300; 0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /*Colors*/
    --primary-color: #1d4ed8;
    --secondary-color: #3b82f6;
    --tertiary-color: #eff6ff;
    --light-color: #bfdbfe;
    --dark-color: #1e3a8a;
    
    /* Dark mode
        #606875
        #111827
        #253140
        #3E4A59
        #F2F2F2 */

    /*Fonts*/
    --primaryfont: 'Poppins', monospace, sans-serif;
    --secondaryfont: 'Jost', sans-serif, monospace;
}
body{
    font-family: var(--secondaryfont);
}
.pageLogin{
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 100vh;
    grid-template-areas: 'section-one box-txt-login section-two';
    font-family: var(--secondaryfont);
}
.container-login{
    grid-area: box-txt-login;
}
.section-one{
    grid-area: section-one;
    background-color: var(--primary-color);
}
.section-two{
    grid-area: section-two;
    background-color: var(--primary-color);
}
.logo-login{
    height: 25vh;
}
.box-alert{
    background-color: #1f293752;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}
.box-alert .alert{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.box-alert .alert ion-icon{
    margin-top: 10px;
    color: red;
    font-size: 64px;
}
.box-alert .alert h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
.box-alert .alert p{
    list-style: armenian;
    margin: 10px 40px;
}
.box-alert .alert button{
    background-color: var(--dark-color);
    color: var(--tertiary-color);
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    border: none;
    height: 40px;
    width: 80px;
}

@media(max-width: 1280px){
    .pageLogin{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .section-one{
        display: none;
    }
    .section-two{
        display: none;
    }
    .container-login{
        display: block;
        width: 100%;
        height: 100%;
    }
}