@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    /*Colors*/
    --primary-color: #1d4ed8;
    --secondary-color: #3b82f6;
    --tertiary-color: #eff6ff;
    --light-color: #bfdbfe;
    --dark-color: #1e3a8a;
    
    /* Dark mode
        #606875
        #111827
        #253140
        #3E4A59
        #F2F2F2 */

    /* Color line */
    --colorLine: rgb(180, 180, 180);
}
#projetos, #projetos a{
    background-color: #111827;
    text-decoration: underline;
    font-weight: 600;
}
/* body-projects */
.body-projects{
    grid-template-areas: 'title-project' 'btns-projects' 'view-projects';
    font-family: var(--secondaryfont);
    grid-template-rows: 50px 80px 1fr;
    grid-template-columns: 1fr;
    display: grid;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.9);
}
/* title-project*/
.title-project{
    font-family: 'Oswald';
    grid-area: title-project;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    color: white;
}
/* end title-project*/
/* btns-projects */
.btns-projects{
    margin: 0px 20px 0px 20px;
    grid-area: btns-projects;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    display: flex;
}
.btns-projects .buttons-top{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
}
.btn{
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2px 10px;
    color: #eff6ff;
    font-weight: 600;
    font-size: 16px;
    display: flex;
}
.search-projects{
    display: flex;
    flex-direction: row;    
}
.search-projects ion-icon{
    background-color: var(--tertiary-color);
}
.search-projects input{
    width: 40vw;
}
/* end btns-projects*/
/* view-projects*/
.view-projects{
    margin: 0px 20px 20px 20px;
    grid-area: view-projects;
    border: 1px solid var(--colorLine);
    border-radius: 2px;
    background-color: var(--tertiary-color);
}
.box-project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.box-project table{
    border-collapse: collapse;
    width: 100%;
}
.box-project table thead tr{
    height: 30px;
}
.box-project table thead th{
    padding: 6px;
    background-color: #dddddd;
    text-align: left;
}
.box-project table thead th h2{
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.1em;
}
.box-project table tbody tr{
    height: 30px;
}
.box-project table tbody td{
    text-align: left;
    padding: 8px;
    border-top: 1px solid var(--colorLine);
    font-family: 'Poppins';
    height: 20px;
}
.box-project table tbody td a, .box-project table tbody td button{
    text-decoration: none;
    font-weight: 400;
    color: var(--secondary-color);
    font-size: 14px;
    cursor: pointer;
    font-family: 'Poppins';
}
.box-project table tbody td a:hover, .box-project table tbody td button:hover{
    color: var(--dark-color);
}
.box-project .pagination-projects{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 8px;
}
.box-project .pagination-projects div span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-project .pagination-projects p.text-sm{
    display: none;
}
/* end view-projects*/

/* end body-projects*/

/* Modal */
.modal-container{
    background-color: #11182754;
    justify-content: center;
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}
.modal{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.modal h2{
    font-family: 'Oswald';
    font-size: xx-large;
    font-weight: 600;
}
.modal ion-icon{
    font-size: 96px;
    color: red;
}
.active{
    display: flex;
}
.active .modal{
    animation: modal .4s;
}
@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
span{
    margin: 10px auto;
    font-family: 'Poppins';
}
.btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
}
.btns button{
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 0px 10px;
}
.btns form .btnOK{
    background-color: rgb(228, 0, 0);
}
.btns form .btnOK:active{
    background-color: rgb(143, 0, 0);
}
.btnClose{
    background-color: rgb(0, 131, 0);
}
.btnClose:active{
    background-color: rgb(0, 73, 0);
}
@media (max-width: 400px){
    .modal{
        padding: 10px;
        width: 80%;
    }
    span, .btns button{
        font-size: smaller;
    }
}
/* end Modal*/

@media(max-width: 800px){
    .body-projects{
        width: 100vw;
        height: 100vh;
        padding-top: 85px;
    }
    .btns-projects .buttons-top{
        margin-bottom: 10px;
    }
    .btns-projects{
        justify-content: center;
    }
    .btn{
        font-size: 20px;
    }
    .search-projects{
        margin-left: 0px;
    }
    .search-projects input{
        width: 50vw;
    }
    table{
        width: 90%;
    }
    .view-projects{
        margin: 10px 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    .box-project{
        height: 100vh;
        width: 100vw;
        overflow: scroll;
    }
    .box-project table thead th{
        padding: 3px 40px 3px 5px;
    }
}